*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
    font-family: "Kanit", sans-serif;
    font-style: normal;
}