* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body, h1, h2, h3, p, td, th {
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #f4f5f7;
    margin: 0;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    align-items: center;
    transition: background 0.5s ease;
}


h1, h2, h3 {
    color: #333;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1500px;
    padding: 20px;
    background-color: #f4f5f7;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    height: 100vh;
}

.dashboard {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
}

.sidebar {
    padding: 10px;
    width: 30%;
    flex-shrink: 0;
    background-color: #f4f5f7;
    overflow-y: auto;
    transition: background 0.3s ease;
}

.sidebar:hover {
    background-color: rgba(244, 245, 247, 0.8);
}

.main-content {
    width: 70%;
    height: 89vh;
    padding: 10px;
    background-color: #f4f5f7;
    overflow-y: auto;
    flex-grow: 1;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    color: #003087;
    font-weight: 600;
}

.balance-section {
    border-radius: 5%;
    background-color: white;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    padding-right: 20px;
}

.balance-section:hover {
    transform: scale(1.02);
}

.balance-current {
    width: 100%;
    padding: 20px;
}

.balance-current h2 {
    font-weight: 200;
    color: #003087;
    border-bottom: solid 2px #a0a6bb;
}

.balance-amount {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 20px;
}

.balance-amount h1 {
    font-size: 42px;
    color: #333;
    font-weight: 300;
    margin: 0;
}

.balance-amount .available-text {
    font-size: 16px;
    font-weight: 200;
    color: #777;
}

.point-amount {
    display: flex;
    align-items: baseline;
    padding-left: 20px;
}

.point {
    font-size: 32px;
    font-weight: 200;
    color: #333;
}

.point-amount .available-text {
    font-size: 28px;
    font-weight: 200;
    color: #777;
}

.point-almost-expire {
    display: flex;
    padding-left: 20px;
    color: #777;
}

.actions {
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
}

.actions .btn {
    background-color: #0070ba;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    flex-grow: 1;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.actions .btn:hover {
    background-color: #005ea6;
    transform: translateY(-2px);
}

.recent-activity {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.recent-activity:hover {
    transform: scale(1.02);
}

.activity-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

.activity-table th, .activity-table td {
    padding: 15px;
}

.activity-table th {
    background-color: #f4f5f7;
    font-weight: 500;
}

.activity-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.activity-table tr:hover {
    background-color: #f1f1f1;
}

.amount {
    text-align: right;
    width: 220px;
}

.amount-th {
    text-align: right;
}

.footer {
    background-color: #003087;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    margin-top: auto;
}

@media (max-width: 768px) {
    .container {
        height:auto;
    }
    .dashboard {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 5px;
    }

    .main-content {
        width: 100%;
        flex-grow: 1;
    }

    .logo {
        font-size: 28px;
    }

    .balance-amount h1 {
        font-size: 32px;
    }

    .actions .btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .activity-table th, .activity-table td {
        padding: 10px;
    }

    .activity-table tr:hover {
        background-color: #e0e0e0;
    }
    table th, table td {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 950px) {
    h1, h2, h3 {
        font-size: 1.5em;
    }

    .balance-amount h1 {
        font-size: 28px;
    }

    .actions .btn {
        font-size: 12px;
        padding: 6px 12px;
    }

    .activity-table th, .activity-table td {
        font-size: 12px;
    }

    .footer {
        padding: 10px;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.floatator {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(27 28 29 / 68%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
    animation: fadeInUp 0.5s ease;
}
.close-button {
    align-self: flex-end;
    width: 0;
    display: flex;
    background-color: #ffffff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #000000;
}
.close-button:hover{
    color: RED;
}



.form-container {
    display: flex;
    justify-content: space-between;
}