*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 900px;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    background: linear-gradient(to bottom, #eab595, #d87f81,#ae6378);
}
.container2{
    width: 900px;
    height: auto;
    margin:20px auto;
}
.nav{
    width: 900px;
    height: 30px;
    padding: 3px;
}
.nav a{
    margin-left: 8px;
    margin-top: 10px;
    padding: 2px;
    text-decoration: none;
    font-size: 20px;
    background: #d87f81;
    border-radius: 10px;
    color: white;
    transition: .5s;
}
.nav a:hover {
    background: #eab595;
    box-shadow: 0 0 8px 0 #eab595;
}
.balance{
    width: 300px;
    height: 250px;
    background: #fdfdfd;
    border-radius: 10px;
}
.quick{
    margin-left: 10px;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    background: #fdfdfd;
}
.name{
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: auto;
    justify-content: center;
}
.wallet {
    padding: 10px;
}
.balance a{
    margin-left: 8px;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    background: #d87f81;
    border-radius: 10px;
    color: white;
    transition: .5s;
}
.balance a:hover{
    background: #eab595;
    box-shadow: 0 0 8px 0 #eab595;
}
.title{
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: auto;
    justify-content: center;
}
.transac{
    margin-left: 10px;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    background: #fdfdfd;
}
.quick iframe{
    margin: 40px 0;
}
.quick h1{
    margin: 0 auto;
}
.document{
    margin: 10px auto;
    text-align: center;
}