.nav {
    padding: 5px;
    width: 100%;
    height: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav a {
    padding: 3px;
    text-decoration: none;
    color: black;
    margin: 2px 10px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.nav a:hover {
    border-color: #ae6378;
}
@media (max-width: 480px) {
    .nav a {
        margin: 2px 5px;
    }
}